version: '3.8'
services:
  api:
    image: "tigroucharly/parkinson:park-api"
    ports:
      - "5000:5000"
    volumes:
      - /tmp:/home/audio
  front:
    image: "tigroucharly/parkinson:park-front"
    ports:
      - "3000:3000"
    environment: 
            REACT_APP_TARGET: http://127.0.0.1:8080/
  back:
    image: "tigroucharly/parkinson:park-back"
    network_mode: "host"
    ports:
      - "8080:8080"
    volumes:
      - /tmp:/home/audio
    depends_on:
      - "front"
      - "api"
      - "mysql1"
    environment: 
            PAR_API_URL: http://127.0.0.1:5000/predict
            WAV_TARGET: /home/audio
            MYSQL_DRIVER: com.mysql.jdbc.Driver
            MYSQL_URL: jdbc:mysql://localhost:3306/parkinson?allowPublicKeyRetrieval=true&useSSL=false
            MYSQL_PASS: password
            MYSQL_USR: admin
  management1:
    image: mysql/mysql-cluster
    volumes:
       - ./mysql.conf/my.cnf:/etc/my.cnf
       - ./mysql.conf/mysql-cluster.cnf:/etc/mysql-cluster.cnf
    #command: "ndb_mgmd --ndb-nodeid=1"
    command: ndb_mgmd
    networks:
      mysqlcluster:
#        ipv4_address: 192.168.0.2
        ipv4_address: 172.28.0.2
  ndb1:
    image: mysql/mysql-cluster
    volumes:
       - ./mysql.conf/my.cnf:/etc/my.cnf
       - ./mysql.conf/mysql-cluster.cnf:/etc/mysql-cluster.cnf
    #command: bash -c 'sleep 40; exec ndbd'
    command: ndbd
    depends_on:
      - "management1"
    networks:
      mysqlcluster:
#        ipv4_address: 192.168.0.3
        ipv4_address: 172.28.0.3
  ndb2:
    image: mysql/mysql-cluster
    volumes:
       - ./mysql.conf/my.cnf:/etc/my.cnf
       - ./mysql.conf/mysql-cluster.cnf:/etc/mysql-cluster.cnf
    #command: bash -c 'sleep 40; exec ndbd'
    command: ndbd
    depends_on:
      - "management1"
    networks:
      mysqlcluster:
#        ipv4_address: 192.168.0.4
        ipv4_address: 172.28.0.4
  mysql1:
    image: mysql/mysql-cluster
    ports:
      - "3306:3306"
    volumes:
       - ./mysql.conf/my.cnf:/etc/my.cnf
       - ./mysql.conf/mysql-cluster.cnf:/etc/mysql-cluster.cnf
       - ./schema.sql:/docker-entrypoint-initdb.d/1.sql
#    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: parkinson
      MYSQL_USER: admin
      MYSQL_PASSWORD: password
    #command: bash -c 'sleep 60; exec mysqld'
    #command: mysqld
    depends_on:
      - "management1"
      - "ndb1"
      - "ndb2"
    networks:
      mysqlcluster:
#        ipv4_address: 192.168.0.10
        ipv4_address: 172.28.0.10

networks:
 mysqlcluster:
#  driver: overlay
  driver: bridge
  ipam:
   config:
#    - subnet: 192.168.0.0/16
    - subnet: 172.28.0.0/16
      gateway: 172.28.5.254
##    - ip-range: 172.28.5.0/24

#  docker run -it -v "$PWD/mysql.conf/my.cnf:/etc/my.cnf" -v "$PWD/mysql.conf/mysql-cluster.cnf:/etc/mysql-cluster.cnf" --net=mysqlcluster_mysqlcluster mysql/mysql-cluster ndb_mgm
